@inherits LayoutComponentBase
@using BlazorBootstrap;

<div class="page">
    <div>
        <NavBar />
    </div>

    <main>
        <Toasts class="p-3" AutoHide="true" Delay="2500" Placement="ToastsPlacement.TopRight" @rendermode="InteractiveAuto"/>
        @Body
    </main>
</div>

