@using BlazorMultiApp.Components.Layout
@inject NavigationManager NavManager

<div class="ceva">
    <div class="row align-items-start">
        <div class="col">
            <button type="button" title="Login" class="btn btn-outline-primary" onclick="RedirectPage">Login</button>
        </div>
        <div class="col">
            <button type="button" title="Register" class="btn btn-outline-primary">Register</button
        </div>
    </div>
</div>

