@inject NavigationManager NavManager
@inject IConfiguration Configuration

<div>
    <div class="row">
        <div class="col">
            <button type="button" title="Login" class="btn btn-outline-primary" @onclick="@(() => NavManager.NavigateTo(Constants.Routes.Login) )">Login</button>
        </div>
        <div class="col">
            <button type="button" title="Register" class="btn btn-outline-primary">Register</button>
        </div>
    </div>
</div>
